body {
  background: #222426;
}
textarea {
  background: #222426;
}
usage {
  font-size: 75%;
  color: #08e8df;
}
thth {
  font-size: 250%;
  color: #114514;
}
input {
  background: url("IMG_3791.png");
  background-color: #444446;
}
